body {
    margin: 0;
    font-family: "Verdana", "Arial", "sans-serif";
}

ul {
    list-style-type: none;
    background-color: #666666;
    overflow: hidden;
    margin: 0px;
    padding: 0;
    position: sticky;
    width: 100%;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color: #4caf50;
}

li a:hover:not(.active) {
    background-color: #000000;
}

ul li:last-child {
    float: right;
}

h1 {
    
}